<mat-toolbar style="
background-color: rgb(31, 31, 31);
color: white;
padding: 20px;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
">

  <div class="logo">
    <img mat-card-image width="50px" src="https://i.pinimg.com/originals/73/cf/14/73cf142f26657abe09d9d42761f39ab2.jpg" style="width: 50px;">
    <h1 class="logo-text" style="font-size: 25px; margin: 0;">FaceMarsh</h1>
  </div>

  <div *ngIf="user">
    <h2>you are: {{user.fname}}</h2>
    <!-- <img src="{{user.profile}}" alt=""> -->
</div>
  <div class="nav-links">
    
    <button mat-button style="color: white;" routerLink="/">หน้าหลัก</button>
    <!-- <button mat-button style="color: white;" routerLink="/profile/{{user.UID}}">โปรไฟล์</button> -->
    <button mat-button style="color: white;" routerLink="/vote">โหวตตัวละคร</button>

    <div *ngIf="user; else elseBlock">
      <button mat-button style="color: white;" routerLink="/profile/{{user.UID}}">โปรไฟล์</button>
        <button mat-button style="color: white;" routerLink="/login">ออกจากระบบ</button>
    </div>
    <ng-template #elseBlock>
        <button mat-button style="color: white;" routerLink="/login">เข้าสู่ระบบ</button>
      </ng-template>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>