body {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 10px;
  transition: color 0.3s ease;
  padding: 10px 15px;
  border-radius: 5px;
}

.nav-links button:hover {
  color: #f8f8f8;
  background-color: rgba(255, 255, 255, 0.1);
}