
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
</head>

<body>
    <div class="container">
        <div class="ranking-wrapper">
            <h2>Ranking</h2>
            <div class="card-container">
                <div class="card" *ngFor="let pic of pics; let i = index">
                    <div class="card-header">
                        <h2>อันดับ: {{pic.ranking1}}</h2>
                        <img class="card-image" src="{{pic.image}}">
                        <h2>{{rank[i]}}</h2>
                    </div>
                    <div class="card-content">
                        <h1>{{pic.fname}} {{pic.lname}}</h1>
                        <h3>Point: {{pic.point}}</h3>
                        <p>{{pic.description}}</p>
                        <button routerLink="show/{{pic.PID}}">ดูเพิ่มเติม</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
